<!DOCTYPE HTML>
<html lang="pl">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Aktualny budżet</title>
</head>

<body>

    <div class="container" style="width: 70%; position: absolute; right: 0px;">
  
<h2>Plan budżetowy - wpływ</h2>

    <span class="d-block p-2 bg-primary text-white">Nazwa wpływu</span>


    <div class="container" style="padding-top: 30px;">
      <div class="row">
        
        <div class="col-4">
          <label class="form-label">Kategoria:</label>
          <input class="form-control" type="text" value = "fdasd" readonly>
        </div>

        <div class="col-4">
          <label class="form-label">Koszt:</label>
          <input class="form-control" type="text" value = "1003" readonly>
        </div>

        <div class="col-4">
          <label class="form-label">Częstotliwość rocznie:</label>
          <input class="form-control" type="number" value = "1002" readonly>
        </div>


      </div>
    </div>

    <div style="padding-top: 30px;">
    <label class="col-sm-2 col-form-label">Twój czynsz</label>
    <div class="col-4">
      <input class="form-control" type="text"  readonly>
    </div>

</div>

    <div class="col-sm" style="padding-top: 30px;">
        <button type="button"  onclick="location.href = 'moje-zamowienia.php';" class="btn btn-secondary ">Powrót</button>
          </div>



      </div>

</body>
</html>