 <!DOCTYPE HTML>
<html lang="pl">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Aktualny budżet</title>
</head>

<body>

    <div class="container" style="width: 70%; position: absolute; right: 0px;">
  


          <div class="col">

            <div>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Numer</th>
                        <th scope="col">Temat</th>
                        <th scope="col">Adres</th>
                      </tr>
                    </thead>
                    <tbody>
            
                      <tr>
                        <th scope="row">1</th>
                        <td><a href="ForgottenPassword.html">Remont budynku</a></td>
                        <td>Remonty</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Fundusz odtworzeniowy</td>
                        <td>KOszenie trawy</td>
                      <tr>
                        <th scope="row">3</th>
                        <td>Fundusz odtworzeniowy</td>
                        <td>Fundusz odtworzeniowy</td>
                      </tr>
            
                    </tbody>
                  </table>

            

          </div>
        </div>
      </div>









</body>
</html>